:host() {
  width: 100%;
}

.flex-container {
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
}

td,
th {
  height: 30px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #c8c5c5;
}

.form-container {
  display: flex;
}

.button-container {
  align-self: flex-end;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px 5px;
  box-sizing: border-box;
}

.button {
  align-items: center;
  color: #fff;
  background: #1976d2;
  border: none;
  padding: 7px 20px;
}

.mr-10 {
  margin-right: 10px;
}
